section
	section
		h1 CTF
		h2.fragment Capture the flag
		h3.fragment Pega Bandeira
	section
		h2 O que é um CTF?
		p Capture the flag é uma competição que exige diversas competências das equipes partcipantes formadas por profissionais, estudantes e entusiastas, afim de resolver problemas relacionados a infosec(Segurança da Informação) e lógica.
	section
		p Geralmente tem duração de 24 ou 48 horas consecutivas sem intervalo, sendo que algumas possuem qualificatorias com menor duração.
		p Podendo ser online ou presencial.