section
	section
		h3 E o que são flags?
		p.fragment As flags são <b class="fragment highlight-green">um código</b> que as equipes obtêm ao resolverem os desafios. Com esse código em mãos, a equipe o submete no sistema online e obtêm os pontos referentes ao desafio.
	section
		h2 Exemplos de flags:
		p.fragment As competições têm tentado padronizar as flags nos ultimos anos, colocando o nome do evento antes(EVENTO{Flag}). Em suma, o formato varia de competição para competição, e as vezes dentro da própria competição.
		ul
			li.fragment HITCON{a755be06b165ed8fc4710d3544fce942}
			li.fragment HITCON{SO0O0OO_MaNy_7Ar_Le\/eLs}
			li.fragment FfIiBbOoNnAaCcCcIi (Hn'R-BR)
			li.fragment CTF-BR{S3j4_b3m_v1nd0}