section
	section
		h2 Formatos de CTF
		ul
			li.fragment Jeopardy-Style
			li.fragment Attack / Defense
			li.fragment Híbridos
	section
		h2 Jeopardy Style
		p.fragment Estilo Quiz, possuem challenges de diversas categorias, níveis de dificuldade e pontuações. Tanto as categorias quanto as pontuações variam de evento para evento.
	section
		h2 Categorias
		ul
			li.fragment For<i class="fragment highlight-red">rensics</i> (Forense)
			li.fragment Rev<i class="fragment highlight-red">ering</i> (Eng. Reversa)
			li.fragment Pwn<i class="fragment highlight-red">able/Exploitation</i> (Exploracão de binarios)
			li.fragment Net<i class="fragment highlight-red">working</i> (Redes)
			li.fragment Misc<i class="fragment highlight-red">ellaneous</i> (Diversos)
			li.fragment Trivia (Triviais)
			li.fragment Crypto<i class="fragment highlight-red">graphy</i> (Criptografia)
			li.fragment Web <i class="fragment highlight-red">Hacking</i> (Relacionados a web)
	section
		h2 Attack / Defense
		p.fragment De forma genérica, as equipes recebem uma VM com diversos serviços (alguns vulneráveis), e o objetivo é capturar as bandeiras alheias e proteger as do seu time com patchs.