section
	section
		h1 Fotos
		img(data-src="img/roadies.jpg")
	section
		h2.fragment Campus Party Brazil!
	section(data-background="img/cpbr.jpg")
	section(data-background="img/cpbr1.jpg")
	section
		h2.fragment Instituto Alpha Lumen
	section(data-background="img/alpha.jpg")
	section(data-background="img/alpha2.jpg")
	section(data-background="img/alpha3.jpg")
	section(data-background="img/alpha4.jpg")
	section(data-background="img/alpha5.jpg")
	section
		h2.fragment DEFCON
	section(data-background="img/defcon.jpg")
	section(data-background="img/defcon1.jpg")
	section
		h2.fragment ROADSEC Brasilia
		h3.fragment Maior evento de hacking e seguraça da informação do Brasil.
		h3.fragment Qualificatorias Brasilia
	section(data-background="img/roadsc-brasilia1.jpg")
	section(data-background="img/roadsc-brasilia2.jpg")
	section(data-background="img/roadsc-brasilia3.jpg")
	section(data-background="img/roadsc-brasilia4.jpg")
	section(data-background="img/roadsc-brasilia5.jpg")
	section(data-background="img/roadsc-brasilia6.jpg")
	section
		h2.fragment ROADSEC BR
		h3.fragment Mega Encerramento em São Paulo
		h3.fragment Finais do Hackaflag e Cryptorace
	section(data-background="img/roadsc.jpg")
	section(data-background="img/roadsc1.jpg")
	section(data-background="img/roadsc2.jpg")
	section(data-background="img/roadsc3.jpg")
	section(data-background="img/roadsc4.jpg")
	section(data-background="img/roadsc6.jpg")
	section(data-background="img/roadsc7.jpg")
	section(data-background="img/roadsc8.jpg")
	section(data-background="img/roadsc9.jpg")
	section(data-background="img/roadsc10.jpg")
	section(data-background="img/roadsc11.jpg")