section
	section
		h2 Curiosidades!
	section
		h2 Geohot
		img(data-src="img/geohot.jpg")
	section
		h2 George Hotz
		p a.k.a. geohot, é um hacker Americano conhecido por desbloquiar o iPhone e o PlayStation3
		p.fragment Hoje tem uma empresa que desenvolve carros inteligentes.
	section
		h2 Geohot e CTFs
		ul
			li.fragment Em 2014 ele ganhou quase 100 mil dolares só em competições.
			li.fragment Ganhou a Secuinside em primeiro lugar e levou um premio de 30 mil dolares. 
			li.fragment Na Coreia participou de uma competição de times, jogando sozinho e também ganhou.
			li.fragment Foi considerado o 10˚ melhor time(tomcr00se) do MUNDO!
	section
		h2 Jornal da globo
		h4 Hackers do bem!
	section(data-background-video="videos/roadsec.mp4")
	section
		h3 Resumo RoadSec 2015
	section(data-background-video="videos/resume-roadsec.mp4")